.editor-box {
    margin: 10px;
    border: white 1px dashed;
    background: gray;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.editor-box-wide {
    width: 99%;
}

.editor-box input, 
.editor-box textarea, 
.editor-box button,
.editor-box select {
    width: 100%;
}

.editor-box textarea {
    width: 97%;
    height: 200px;
}